<Files "errors/error404.php">
    Require all denied
</Files>

<Files "errors/error500.php">
    Require all denied
</Files>


ErrorDocument 404 /errors/error404.php
ErrorDocument 500 /errors/error500.php


