<IfModule mod_rewrite.c>
    RewriteEngine On
</IfModule>

# Blocca l'accesso diretto a error404.php
<FilesMatch "errors/error404.php">
    Require all denied
</FilesMatch>







ErrorDocument 404 /errors/error404.php
ErrorDocument 500 /errors/error500.php


