:root
{     
    --backgroundcolor: #111606;     
    --textcolor: #B1DD40 ;     
    --contentxtcolor: #ADD8E6;     
    --headertxtcolor: #008B8B;    
    --breadcolor: #FFF8DC;     
    --linkcolor:  #B1DD40;       
    --newscolor: #FFF8DC;     
    --newstxtcolor: #4169E1;     
    --contentbgcolor: #ADD8E6; 
}
/** UTILITIES DI COMPARSA E SCOMPARSA DEL MENU*/
.is-invisible {
    transition: 0.6s;
    opacity: 0;
    visibility: hidden;
}
.is-visible {
    opacity: 1;
    visibility: visible !important;
  
}
.rotate-ham
{
    transform: rotate(-90deg);
    transition: 300ms;
    transition-timing-function: ease-in-out;
}
.unrotate-ham
{
    transform: rotate(0deg);
    transition: 300ms;
    transition-timing-function: ease-in-out;
}
/*FINE UTILITIES*/
*{
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    flex-direction: column;
    min-height: 100px;
}
html
{
    background-color: var(--backgroundcolor);
    line-height: 1.5em;
    font-size: 100%;
    margin: out;
    max-width: 2048px;
    font-family: arial;
}
header
{
    position:static;
    display: flex;
    border-bottom: 5px solid;
    border-color: var(--textcolor);
    align-items: stretch;
    justify-content: space-between;
}
footer
{    
    position:fixed;
    left:0px;
    bottom:0px;
    height:auto;
    width:100%;
    display:auto;
    padding: 2px;
    text-align: center;
    align-items: stretch;
    border-top: 2px solid;
    border-color: var(--textcolor);

}
nav, a
{
    color: #FFB235;    
}
/*SEZIONE DEDICATA AL LOGO, ALL'HAMBURGER E AL BREAD*/
.breadcrumb, .hamburger
{
    height:100%;
}
.hamburger
{
    color:#FFB235; 
    margin-left:20px;
    align-self: center;
    width: 33%;
}
.hamburger-fa
{
    transform: rotate(0deg);
    transition: 300ms;
    transition-timing-function: ease-in-out;
}
.hamburger-fa:hover
{
    transform: rotate(-90deg);
    transition: 300ms;
    transition-timing-function: ease-in-out;
}
.breadcrumb
{
    padding: 4px;
    text-align: left;
    justify-content: center;
    font-size:25px;
    border-bottom: 2px solid var(--textcolor);
}
.logo
{
    height: 100%;
    width:33%;
    display: flex;
    justify-content: center;
}
.error404
{
    text-align: center;
}
/*SEZIONE DEDICATA AL LOGO, ALL'HAMBURGER E AL BREAD FINISCE QUI*/
/*SEZIONE DEDICATA AI VARI MENU E SOTTOMENU DEL NAV*/
.menù
{
    list-style-type: none;
    transition: 200ms;
}
.menù-ul
{
    margin-left:10px;
    list-style-type: none;
}
.sottomenù-ul, .sottomenù2-ul
{
    opacity:0;
    display:none;
    transition: 100ms;
    list-style-type: none;
}
/*COME FUNZIONA L'ANIMAZIONE DEL MENU*/
@keyframes animation-sottomenu {
  from {opacity: 0;}
  to {opacity:1;}
}
.sottomenù-li:hover .sottomenù-ul
{
    display:block;
    opacity:1;
    transition: 100ms;
    animation-name: animation-sottomenu;
    animation-duration: 400ms;
}
.sottomenù2-li:hover .sottomenù2-ul
{
    display:block;
    opacity:1;
    transition: 100ms;
    animation-name: animation-sottomenu;
    animation-duration: 400ms;
}
.li-sottomenu
{
    display: block;
    margin-left: 20px;
}
.li-hover a
{
   padding: 4px 48px 4px 2px;
   border-radius: 0 10px 10px  0;
   
   transition: 200ms;
   min-width: 450px !important;
}
.li-hover a:hover
{
   background: rgb(0,139,139);
   background: linear-gradient(90deg, rgba(0,139,139,1) 55%, rgba(0,0,0,0) 100%);
   padding-left: 6px;
   transition: 200ms;
}
.LogoInnerImage{
    opacity: 0.9;    
    filter: saturate(80%);
    transform: rotate(-1deg);
    transition: 300ms;
    transition-timing-function: ease-in-out;
}
.LogoInnerImage:hover{
    opacity: 1;
    filter: saturate(150%);
    transform: rotate(0deg);
    transition: 300ms;
    transition-timing-function: ease-in-out;
}
/*SEZIONE DEI MENU FINISCE QUI*/
/*SEZIONE DEDICATA AI SOCIAL*/
.social-icon-header, .social-icon-footer
{
    padding: 3px;
    align-items: center;
    vertical-align: top;
}
.social-icon-header
{
    width:33%;
    display: flex;
    justify-content: flex-end;
}
.social-icon-footer
{
    display:flex;
    justify-content: center;
}
.facebook-logo:hover, .instagram-logo:hover, .spotify-logo:hover, .twitter-logo:hover
{
    background-size: auto;
    border-radius: 3px;        
    line-height: 1.5em;
}
.facebook-logo:hover
{
    background-color: #3b5998;
}
.instagram-logo:hover
{
    background-color: white;
}
.spotify-logo:hover
{
    background-color: green;
}
.twitter-logo:hover
{
    background-color: deepskyblue;
}
.facebook-logo i:hover, .twitter-logo i:hover, .spotify-logo i:hover
{
    color: white;
}
.instagram-logo i:hover
{
    color: black;
}
.facebook-logo i, .instagram-logo i, .twitter-logo i, .spotify-logo i
{
    padding: 3px;
    display:inline-block;
    list-style-type: none;
    text-align: center;
    width: 32px;
}
/*SEZIONE DEI SOCIAL FINISCE QUA*/
h1, h2, h3, h4, h5, h6
{
    padding: 3px;
    color:var(--textcolor);
    text-align: center;
}
h1
{
    font-size: 75px;
    line-height: 1.5em;
}
h2
{
    font-size: 50px;
    line-height:1.5em;
}
h3
{
    font-size: 25px;
    line-height: 1em;
}
p
{
    color:var(--textcolor);
    text-align: center;
}
/*sezione che modifica la visualizzazione del programma*/
.programma
{
    margin-top:20px;
    padding: 5px;
    line-height: 1.5em;
}
.technoLum
{
    text-align:center;
    width: 98%;
    margin-left:25px;
    opacity: 0.7;
    transition: 300ms;
    transform: rotate(-1deg);
    transition-timing-function: ease-in-out;
}
.technoLum:hover
{
    opacity:1;
    filter:saturate(150%);
    transform: rotate(0deg);
    transition: 300ms;
    transition-timing-function: ease-in-out;
    color:#FFB235;
}
.storia
{
    margin-top:0;
    line-height: 1.5em;
    text-align: center;
    white-space: pre-wrap;
}
/*Sezione termini e privacy*/
.termini-condizioni, .privacy-policy
{
    padding: 2px;
    display: auto;
    line-height: 2em;
   
}
