<footer>
    <ul>
        <a href="#" alt="Facebook logo"><img src="../assets/facebook2.png"></a>
        <a href="#" alt="Spotify Logo"><img src="../assets/spotify2.png"></a>
        <a href="#" alt="Instagram Logo"><img src="../assets/instagram2.png"></a>
        <a href="#" alt="Twitter Logo"><img src="../assets/twitter2.png"></a>
    </ul><br>
    <p>
        <ul>
            <a href="#" alt="termini e condizioni">Termini e Condizioni</a>
            <a href="#" alt="privacy policy">Privacy Policy</a>
        </ul>
        TELE RADIO <span lang="en">CITY</span> -- P.IVA 0099455028X
    </p>
</footer>