<footer>

  <div class="footer-icons">
    <div class="facebook-logo">
      <a href="https://www.facebook.com/" target="_blank"><img src="assets/facebook.png" alt="Facebook logo"></a>
    </div>

    <div class="twitter-logo">
      <a href="https://www.twitter.com/" target="_blank"><img src="assets/twitter.png" alt="Twitter logo"></a>
    </div>

    <div class="spotify-logo">
      <a href="https://www.spotify.com/" target="_blank"><img src="assets/spotify.png" alt="Spotify logo"></a>
    </div>

    <div class="instagram-logo">
      <a href="https://www.instagram.com/" target="_blank"><img src="assets/instagram.png" alt="Instagram logo"></a>
    </div>
  </div>

  <div class="footer-content">
    ©2023 TECHNOLUM250 FESTIVAL | <a href="#">Termini e Condizioni</a> |
    <a href="#">Privacy Policy</a>
  </div>
</footer>
