<footer>
  <div class="icons">
    <a href="https://www.facebook.com/" target="_blank"
      ><img src="assets/social-icons/facebook.png" alt="Facebook logo"
    /></a>
    <a href="https://www.twitter.com/" target="_blank"
      ><img src="assets/social-icons/twitter.png" alt="Twitter logo"
    /></a>
    <a href="https://www.spotify.com/" target="_blank"
      ><img src="assets/social-icons/spotify.png" alt="Spotify logo"
    /></a>
    <a href="https://www.instagram.com/" target="_blank"
      ><img src="assets/social-icons/instagram.png" alt="Instagram logo"
    /></a>
  </div>

  <div id="footer-content">
    ©2023 TECHNOLUM250 FESTIVAL | <a href="#">Termini e Condizioni</a> |
    <a href="#">Privacy Policy</a>
  </div>
</footer>
