<header>
  <div id="flexContainerHeader">
    <div id="left-group">
      <div id="logo">
        <a href="index.php" tabindex="0" aria-label="Go to Homepage">
          <img src="assets/newlogo.png" alt="TechnoLum250 Festival Logo" />
        </a>
      </div>
      <div id="vertical-bar-container"></div>
      <div id="countdown-data">
        <p id="dataFestival" class="show">Luglio 5-7, 2024</p>
        <p id="intervalloFestival" class="hide" ></p>
      </div>
<a href="#mainContent" id="aiutoSkipnav" tabindex="0">Skip the Navigation</a>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/" target="_blank"
        ><img src="assets/social-icons/facebook.png" alt="Facebook logo"
      /></a>
      <a href="https://www.twitter.com/" target="_blank"
        ><img src="assets/social-icons/twitter.png" alt="Twitter logo"
      /></a>
      <a href="https://www.spotify.com/" target="_blank"
        ><img src="assets/social-icons/spotify.png" alt="Spotify logo"
      /></a>
      <a href="https://www.instagram.com/" target="_blank"
        ><img src="assets/social-icons/instagram.png" alt="Instagram logo"
      /></a>
    </div>
  </div>
</header>
