<header>
  <div id="flexContainerHeader">
    <div id="left-group">
      <div id="logo">
        <a href="index.php" tabindex="0" aria-label="Go to Homepage">
          <img src="assets/newlogo.png" alt="TechnoLum250 Festival Logo" />
        </a>
      </div>
      <div id="vertical-bar-container"></div>
      <div id="countdown-data">
        <p id="dataFestival"  class="accessibleShow"><time datetime="2024-07-05T00:00:00">5</time> - <time datetime="2024-07-06T00:00:00">6</time> - <time datetime="2024-07-07T23:59:59">7 Luglio 2024</time></p>
        <p id="intervalloFestival" class="accessibleHide"></p>
      </div>
<a href="#mainContent" id="aiutoSkipnav" tabindex="0">Skip the Navigation</a>
    </div>
    <div class="icons">
      <a href="https://www.facebook.com/" target="_blank"
        ><img src="assets/social-icons/facebook.png" alt="Seguici su <span lang='en'>Facebook</span>"
      /></a>
      <a href="https://www.twitter.com/" target="_blank"
        ><img src="assets/social-icons/twitter.png" alt="Seguici su <span lang='en'>Twitter</span>"
      /></a>
      <a href="https://www.spotify.com/" target="_blank"
        ><img src="assets/social-icons/spotify.png" alt="Ascoltaci su <span lang='en'>Spotify</span> "
      /></a>
      <a href="https://www.instagram.com/" target="_blank"
        ><img src="assets/social-icons/instagram.png" alt="Seguici su <span lang='en'>Istagram</span>"
      /></a>
    </div>
  </div>
</header>
