<header>
  <div class="nav container">

    <div class="logo">
        <!-- <img src="../../assets/logo.png" alt="TechnoLum Festival"> -->
        <a href="#" class="logo-text">TechnoLum250 Festival</a>
        <div class="countdown-data">
            <p id="dataFestival">| Luglio 5-7, 2024</p>
            <p id="intervalloFestival" class="countdown"></p>
        </div>
    </div>
    <div class="icons">

      <i class='bx bxl-facebook' id="facebook-icon"></i>

      <i class='bx bxl-twitter' id="twitter-icon"></i>

      <i class='bx bxl-spotify' id="spotify-icon"></i>

      <i class='bx bxl-instagram-alt' id="instagram-icon"></i>

      <p class="separator"> | </p>

      <i class='bx bxs-user' id="user-icon"></i>
<!--
      <div class="facebook-logo">
        <a href="#"><img src="../../assets/facebook.png" alt="Facebook logo"></a>
      </div>

      <div class="twitter-logo">
        <a href="#"><img src="../../assets/twitter.png" alt="Twitter logo"></a>
      </div>

      <div class="spotify-logo">
        <a href="#"><img src="../../assets/spotify.png" alt="Spotify logo"></a>
      </div>

      <div class="instagram-logo">
        <a href="#"><img src="../../assets/instagram.png" alt="Instagram logo"></a>
      </div>
-->
    </div>

</div>
</header>
