<nav class="menu" aria-label="navigazione menù">
  <ul>

    <li lang="en"><a href="index.php" tabindex="0">Home</a></li>

    <li lang="en" aria-haspopup="true" aria-expanded="false" tabindex="1">
      Festival
      <ul class="dropdown">
        <li><a href="chisiamo.php" tabindex="2">Chi siamo</a></li>
        <li><a href="location.php" lang="en" tabindex="3">Location</a></li>
        <li><a href="storia.php" tabindex="4">Storia</a></li>
      </ul>
    </li>

    <li lang="en" aria-haspopup="true" aria-expanded="false" tabindex="5">
      Shop
      <ul class="dropdown">
        <li><a href="merch.php" lang="en" tabindex="6">Merch</a></li>
        <li><a href="prevendite.php" tabindex="7">Prevendite</a></li>
      </ul>
    </li>

    <li><a href="domande.php" tabindex="8">Domande</a></li>
    <li><a href="account.php" lang="en" tabindex="9">Account</a></li>

  </ul>
</nav>

