<input type="checkbox" class="menu-checkbox" id="menuToggle" />
    <label for="menuToggle" tabindex="0" id="menuToggleLabel" class="menu-toggle " aria-label="Clicca per aprire il menu">
      Clicca Enter per aprire il menu
      <span class="hamburger-icon" aria-hidden="true"></span>
    </label>
<nav class="menu" aria-label="navigazione menù">
  <ul>
    <li><a href="index.php" tabindex="0" lang="en">Home<div id="punto-ind"></div></a></li>
    <li><a href="chisiamo.php" tabindex="0">Chi siamo<div id="punto-chi"></div></a></li>
    <li><a href="location.php" tabindex="0" lang="en">Location<div id="punto-loc"></div></a></li>
    <li><a href="merch.php" tabindex="0" lang="en">Merch<div id="punto-mer"></div></a></li>
    <li><a href="prevendite.php" tabindex="0">Prevendite<div id="punto-pre"></div></a></li>
    <li><a href="domande.php" tabindex="0">Domande<div id="punto-dom"></div></a></li>
    <li><a href="account.php" tabindex="0" lang="en">Account<div id="punto-acc"></div></a></li>
  </ul>
</nav>