<nav id="menù" role="navigazione" aria-label="navigazione menù">
  <ul>
    <li lang="en"><a href="index.php" tabindex="0">Home</a></li>
    <li lang="en" aria-haspopup="true" aria-expanded="false">
      Festival
      <ul>
        <li><a href="chisiamo.php" tabindex="1">Chi siamo</a></li>
        <li><a href="location.html" lang="en" tabindex="2">Location</a></li>
        <li>
          <a href="storia.html" tabindex="3"
            >Storia del <span lang="en">Festival</span></a
          >
        </li>
      </ul>
    </li>
    <li lang="en" aria-haspopup="true" aria-expanded="false" tabindex="0">
      Shop
      <ul>
        <li><a href="merch.html" lang="en" tabindex="4">Merch</a></li>
        <li><a href="biglietti.html" tabindex="5">Prevendite</a></li>
      </ul>
    </li>
    <li>
      <a href="faq.php" lang="en" tabindex="6"
        ><abbr title="Frequently Asked Questions">FAQ</abbr></a
      >
    </li>
    <li><a href="account.html" lang="en" tabindex="7">Account</a></li>
  </ul>
</nav>
