<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="keywords" content={{keyword}}>
        <meta name="description" content={{description}}>
        <title>TechnoLum Festival</title>
        <link rel="icon" href="../assets/logofavicon.png" type="image/png">
    </head>
    <body>

        {{header}}
        
        <nav id="menù" role="navigazione" aria-label="navigazione menù">
            <ul>
                
            </ul>
        </nav>
        <nav id="breadcrumb" role="sezione corrente" aria-label="Ti trovi nella sezione:">
            {{breadcrumbs}}
        </nav>
        <main>
            {{main}}
        </main>
        {{footer}}
        
    </body>

</html>