<!DOCTYPE html>

<html lang="it">
  <head>
    <meta charset="UTF-8" />
    <meta name="keywords" content="{{keyword}}" />
    <meta name="description" content="{{description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="author" content="Technolum festival" />
    <title>{{title}}</title>
    <link rel="icon" href="assets/favicon.png" type="image/png" />

    <link rel="stylesheet" href="css/newstyle.css" />

    <script src="js/functions.js"></script>
  </head>
  <body>
    {{header}} {{menu}}
    <nav id="breadcrumb" aria-label="Ti trovi nella sezione:">
      <p>Ti trovi in: <span lang="{{breadcrumblen}}">{{breadcrumb}}</span></p>
    </nav>
    <main id="mainContent">{{main}}</main>
    {{footer}}
  </body>
</html>
