* {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0;
  padding: 0;
  scroll-padding-top: 2rem;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

:root {
  /* Coppia 1 */
  --verde-lime: #79fe0c;
  --verde-scuro: #253519;

  /* Coppia 2 */
  --verde-salvia: #9aad85;
  --verde-nero: #171e10;
}

/*STRUTTURA BASE PER GLI ELEMENTI IN TUTTE LE PAGINE
QUESTI ELEMENTI SONO DENTRO UN DISPLAY FLEX DELLA PAGINE COMPLETA */

body {
  background-color: var(--verde-nero);
  color: var(--verde-lime);
  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--verde-scuro);
  color: var(--verde-lime);
}

#breadcrumb {
  height: 4em;
  background-color: var(--verde-scuro);
}

#breadcrumb p {
  text-align: left;
  top: 2rem;
  position: relative;
}

footer {
  color: var(--dark-bg-color);
  background-color: var(--footer-bg-color);
  text-align: center;
  border-top: 2px solid black;
  padding: 2rem 0 2rem 0;
}

main {
  background-color: var(--verde-scuro);
  color: var(--verde-lime);
}

h1 {
  text-align: center;
  padding: 1rem;
  color: var(--verde-lime);
  font-size: 3rem;
  font-weight: bold; /* Consolidated font-weight */
  margin-top: 20px; /* Adjust as needed */
}

h2 {
  text-align: center;
  padding: 1rem;
  color: var(--verde-lime);
  font-size: 2.6rem; /* Adjust font-size for hierarchy */
  font-weight: bold; /* Consolidated font-weight */
}

h3 {
  text-align: center; /* Added for consistency */
  padding: 1rem;
  color: var(--verde-nero);
  font-size: 1.8rem; /* Adjust font-size for hierarchy */
  font-weight: bold; /* Consolidated font-weight and changed to bold for consistency */
}

/*elementi solo interni all header*/

#flexContainerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border: none;
  margin-top: 0;
}

#flexContainerHeader #left-group {
  display: flex;
  align-items: center;
}

#flexContainerHeader #left-group #logo a {
  display: flex; /* Makes the anchor block-level to fit the content */
  line-height: 0; /* Removes any extra line-height space */
  padding: 0; /* Ensures there's no extra padding */
  border: none; /* Removes any border that might affect the size */
  height: auto; /* Ensures the anchor height matches the image if the image height is variable */
  max-height: 100px; /* Matches the max-height of the image to constrain the anchor */
  transition: all 0.5s ease-in-out;
}

#flexContainerHeader #left-group #logo img {
  height: auto; /* Maintains aspect ratio */
  width: auto; /* Adjusts width as per your logo's aspect ratio */
  max-height: 100px; /* Adjusts to the desired size */
  display: flex; /* Removes default inline spacing */
  max-width: 100%; /* Ensures image is not bigger than its container */
}

#flexContainerHeader #left-group #aiutoSkipnav {
  /*se non focussato va fuori schermo cosi credo vada bene*/
  position: absolute;
  left: -9999px;
  top: -9999px;
  overflow: hidden;
}

#flexContainerHeader #left-group #aiutoSkipnav:focus,
#flexContainerHeader #left-group #aiutoSkipnav:focus-within,
#flexContainerHeader #left-group #aiutoSkipnav a:focus {
  overflow: visible;
  position: static;
  background-color: var(--verde-nero); /* Green background */
  color: white;
  border-radius: 15px; /* Rounded corners */
  text-align: center;
  font-weight: bold;
  cursor: pointer; /* Change cursor to pointer to indicate it's clickable */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#flexContainerHeader #left-group #aiutoSkipnav:focus,
#flexContainerHeader #left-group #aiutoSkipnav:focus-within {
  margin-left: 2rem;
}

#flexContainerHeader #left-group #logo a img {
  height: auto;
  width: auto;
  max-height: 100px;
  display: block;
  max-width: 100%;
}

#flexContainerHeader #left-group #countdown-data {
  display: flex;
  align-items: center;
  margin-left: 1.5rem;
}

#flexContainerHeader #left-group #countdown-data p {
  font-size: 30px;
}

#flexContainerHeader #left-group #countdown-data .show {
  display: block;
}

#flexContainerHeader #left-group #countdown-data .hide {
  display: none;
}

#flexContainerHeader #vertical-bar-container {
  border-left: 5px solid var(--verde-lime);
  height: 50px;
}

/*icone social
in realtà non so se val la pena di importarle come immagini o se meglio importarle con il css*/

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.icons img {
  width: 1.6rem;
  height: auto;
  margin: 0 10px;
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.icons img:hover,
.icons img:focus {
  transform: scale(1.25);
}

/*footer*/
#footer-content {
  font-size: 1.4rem;
  font-weight: 200;
  margin-right: 10px;
}

#footer-content a {
  color: var(--verde-lime);
}

#footer-content a:visited {
  color: var(--verde-lime);
}

/*menu*/

.menu {
  display: inline-flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: var(--verde-nero);
  font-size: 1.4rem;
  font-weight: 400;
  font-weight: bold;
  z-index: 10;
}

.menu ul {
  list-style: none;
}

.menu li {
  display: inline-block;
  position: relative;
  margin-right: 2rem;
}

.menu a {
  display: block;
  text-decoration: none;
  color: var(--verde-salvia);
  transition: color 0.3s ease;
}

/*roba per fare illuminare sotto il menu*/
#punto-ind,
#punto-loc,
#punto-dom,
#punto-mer,
#punto-chi,
#punto-pre,
#punto-acc {
  background-color: var(--verde-lime);
  height: 2px;
  width: 0%;
  padding-top: 2px;
  position: absolute;
  margin-left: 20px;
  right: 0;
  transition: all 0.5s ease;
  cursor: pointer;
}

.menu a:hover,
.menu a:focus {
  color: var(--verde-lime);
}

.menu a:hover > #punto-ind,
.menu a:hover > #punto-loc,
.menu a:hover > #punto-mer,
.menu a:hover > #punto-chi,
.menu a:hover > #punto-pre,
.menu a:hover > #punto-acc,
.menu a:hover > #punto-dom {
  width: 100%;
}

/*corosello dinamico in pagina home*/

#foto1 {
  background-image: url("../assets/artisti/tony2milli.jpg");
  background-size: cover;
  background-position: center;
}

#foto2 {
  background-image: url("../assets/artisti/tony2milli.jpg");
  background-size: cover;
  background-position: center;
}

#foto3 {
  background-image: url("../assets/artisti/tony2milli.jpg");
  background-size: cover;
  background-position: center;
}

.carosello-none {
  display: none;
}

.puntini {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.carosello-puntini {
  text-align: center;
}

.carosello-dinamico {
  position: static;
  padding: 10px;
  margin-top: 1.5em;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade-reverse {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.fade {
  animation-name: fade, fade-reverse;
  animation-duration: 2s, 2s;
  animation-delay: 0s, 2s;
}
